div.banner{
    width: 1280px;
    height: 340px;
    margin: 0px auto;
    min-width:768px;
}
div.square{
    width: 340px;
    height: 340px;
    font: normal 20px/29px "Noto Serif KR";
    text-align: center;
    float: left;
    margin-left: 15px;
}
button.shop_btn{
    width: 150px;
    height: 40px;
    background: #fff;
    color: #000;
    border: none;
    font: normal 14px/40px "Noto Serif KR";
}
button.shop_btn:hover{
    color: #fff;
    background: #2b2b2b;
}
div.square:nth-child(1){
    background:url('/public/images/banner00.jpg') no-repeat center;
    background-size:cover;
    position: relative;
    top:0;
    left: 0;
}
div.square:nth-child(1) p{
    width: 100%;
    position: absolute;
    top: 180px;
}
div.square:nth-child(1) button{
    position: absolute;
    top: 260px;
    left: 50%;
    margin-left: -75px;
}
div.square:nth-child(2){
    background:#F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.square:nth-child(2) button{
    margin: 20px 0px;
    background: #CFDCE4;
}
div.square:last-child{
    width: 100%;
}
div.rectangle{
    width: 570px;
    height: 100%;
    background:url('/public/images/banner02.jpg') no-repeat center;
    background-size:cover;
    padding: 50px;
    box-sizing: border-box;
    float: left;
}
div.rectangle p{
    font: normal 26px/37px "Noto Serif KR";
    margin-bottom: 20px;
}

@media screen and (max-width:1280px){
    div.banner{
        width: 100%;
    }
    div.square{
        width: 26.56%;
        margin-left: 1.17%;
    }
    div.rectangle{
        width: 44.53%;
    }
}
@media screen and (max-width:980px){
    div.rectangle p{
        font: normal 22px/37px "Noto Serif KR";
    }
    div.square{
        font: normal 18px/29px "Noto Serif KR";
    }
}