section.visual{
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0px;
    top: 0;
}
/* section.visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* ul.visual_list li:nth-child(1){
    background:url('/public/images/visual00.jpg') no-repeat center 0px;
    background-size:cover;
}
ul.visual_list li:nth-child(2){
    background:url('/public/images/visual01.jpg') no-repeat center 0px;
    background-size:cover;
}
ul.visual_list li:nth-child(3){
    background:url('/public/images/visual02.jpg') no-repeat center 0px;
    background-size:cover;
} */